.banner {
	align-items: center;
	display: flex;
}

.banner .banner__image {
	display: block;
	margin-right: auto;
	max-width: 24rem;
	width: 100%;
}

.banner .banner__subtitle {
	font-size: 1.375rem;
	font-weight: 700;
}

.banner .banner__title {
	color: #d6000d;
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 1.875rem;
}

.banner .button {
	display: inline-block;
}
