.header {
	padding: 2.5rem 1rem;
}

.header .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 68rem;
}

.header .header__title {
	color: #d6000d;
	font-size: 3rem;
	font-style: italic;
	font-weight: 700;
	margin-bottom: 1rem;
	margin-top: 0px;
	text-align: center;
}

.header .header__title span {
	color: #333;
}

.header nav ul {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.header nav ul li {
	display: flex;
}

.header nav ul li a {
	font-size: 1.25rem;
	font-weight: 400;
	padding: 0.5rem;
}

.header nav ul li:last-child {
	display: none;
}

.header nav ul li a.button {
	margin-left: 0.75rem;
}

@media (min-width: 576px) {
	.header .container {
		flex-direction: row;
	}

	.header nav ul li:last-child {
		display: flex;
	}
}
